<!-- Modal -->

<div class="modal animate__animated animate__fadeIn animate__faster" id="dishModal<%= index %>" tabindex="-1" aria-labelledby="dishModalLabel" aria-hidden="true">
  <div class="modal-dialog border border-0 border-rounded-3" style="transform: translate(-25%);">
    <div class="modal-content modalfordish">
      <div class="modal-header">
      <div class="modal-title">
        <h2 class="font-weight-bold mx-4" id="dishModalLabel"><%= dish.name %></h2>
        <p><%= dish.country %></p>
      </div>
      </div>
      <div class="modal-body">
        <img src=<%= dish.image_url %> alt=<%= dish.name %>>
        <div class="description">
          <p> <%= dish.description %> </p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link">Search for restaurants</button>
      </div>
    </div>
  </div>
</div>
