<!-- Modal -->
<div class="modal animate__animated animate__fadeIn animate__faster" id="dishModal<%= index %>" tabindex="-1" aria-labelledby="dishModalLabel" aria-hidden="true">
  <div class="modal-dialog border border-0 border-rounded-3" style="transform: translate(-25%);">
    <div class="modal-content modalfordish">
      <div class="modal-header">
      <div class="modal-title">
        <h2 class="font-weight-bold mx-4" id="dishModalLabel"><%= dish.name %></h2>
        <p><%= dish.country %></p>
        <%= @myid %>
        <% dishid = @dishes.find_by_id(87) %> <!-- Doesnt take the myid as 87 -->
        <%= dishid %>
        <p><%= dishid.restaurants[0].name %></p>
        <p><% @dishrestaurants %></p>
      </div>
      </div>
      <div class="modal-body">
        <img src=<%= dish.image_url %> alt=<%= dish.name %>>
        <div class="description">
          <p> <%= dish.description %> </p>
        </div>

      </div>
      <div class="modal-footer">
        <%= link_to "Find restaurants that make #{dish.name}", restaurants_path(dish: dish.name, dish_picture: dish.image_url), class: "btn btn-link" %>
      </div>
    </div>
  </div>
</div>
