<div data-controller="search-dishes">
  <div class="banner-container">
    <!-- DISHES -->

    <!--  HEADLINE with the two text inputs -->
    <div class="container banner-head d-flex">
        <p class="banner-dish">Dish-List</p>

        <%= form_with url: root_path, method: :get, html: { autocomplete: "off",  class: 'sebis', data: {search_dishes_target: 'form' } } do |f| %>
          <%= f.text_field :query, autofocus: 'autofocus', placeholder: 'Add country', value: params[:query], class: 'banner-country', data: { search_dishes_target: 'input', action: 'keyup->search-dishes#update' } %>
        <% end %>
    </div>

    <!-- SUB-HEADLINE the text below the entry fields -->

    <!-- PICTURE centred, floating -->
    <div class="banner-picture">
      <%= link_to "/", class: "banner-picture-img" do %>
        <%= image_tag "ramen_200.png", data: { search_dishes_target: 'img' } %>
      <% end %>
    </div>
    <div class="banner-sub">
    </div>
  </div>

  <!-- Rendered Dish-List -->
  <h2 class='dish-index-title-h1'>Traditional Picks</h2>
  <% if params[:query].present? %>
    <p class='dish-index-title-h2'>What people crave from <%= params[:query] %></p>
  <% else %>
    <p class='dish-index-title-h2'>What people crave from around the world </p>
  <% end %>
  <div class='container'>
    <%= render 'list', dishes: @dishes %>
  </div>

   <div class='d-flex justify-content-center mt-2 mb-3'>
    <!-- We need to change the link to a new restaurant form once we create restaurant#new. -->
    <%= link_to "Are we missing a dish? If so, why not add it?", new_dish_path, class: "btn btn-link" %>
  </div>
</div>
