<div class="resto-card">

  <% if restaurant.photos.attached? %>
    <%= cl_image_tag restaurant.photos.first.key, class: "dishlist-picture" %>
  <% else %>
    <%= image_tag("restaurant_missing.jpg", class: "dishlist-picture") %>
  <% end %>

  <div class="resto-content">
    <div class="top-content">
      <div class="restaurant-card-title-name"><%= restaurant.name%></div>
      <%= restaurant.address%>
    </div>

    <div class="buttom-content">
      <div class="hours-restaurant">
        <p>HOURS</p>
        <!--Validating if a restaurant is open-->
        <% week = restaurant.openings %>
        <% if week.first.nil? %>
          <p>n/a</p>
        <% else %>
          <% if @timenow >= week[@daynow].start_hour && @timenow <= week[@daynow].end_hour %>
            <p style="color: green;">Open</p>
          <% else %>
            <p style="color: red;">Closed</p>
          <% end %>
        <% end %>
      </div>


      <div class="restaurant-rating">
        <p>RATING</p>
        4.<%= rand(1..9)%>
      </div>


      <div class="card-distance">
        <p>DISTANCE</p>
        <% case restaurant.address %>
          <% when 'Berlin' %>
            2 km
          <% when 'Hamburg' %>
            289 Km
          <% when 'Cologne' %>
            432 Km
          <% when 'Munich' %>
            612 Km
          <% when 'Paris' %>
            1,074 Km
          <% else %>
            n/a Km
        <% end %>
      </div>
    </div>


  </div>
</div>
