 <% @review = Review.new() %>

  <%= simple_form_for(@review) do |f| %>
    <p>What dish are you reviewing?</p>
    <%= f.input :dish, collection: restaurant.dishes %>

    <p>How authentic was the dish. 0 (poor) - 5 (great).</p>
    <%= f.input :authenticity, label: "Authenticity", min: 0, max: 5, size: 5, autofocus: true %>

    <p>How is the value?. 0 (poor) - 5 (great).</p>
    <%= f.input :value, label: "Authenticity", min: 0, max: 5, size: 5, autofocus: true %>

    <p>Add a comment.</p>
    <%= f.input :description, label: "Comment", size: "30x10" %>

      <%= hidden_field_tag 'restaurant', restaurant.id %>
  <%= f.submit %>
<% end %>
