<div>
  <div class="banner-container restaurants-banner">
    <!-- RESTAURANT -->
      <!--  HEADLINE with the two text inputs -->
      <div class="banner-head d-flex">
              <input type="text" class="banner-dish sebis" id="tonys" value="Dish">
              <input type="text" class="banner-country sebis" value="Location">
      </div>

      <!-- SUB-HEADLINE the text below the entry fields -->
      <div class="banner-text">
          Did you know, that in most citys, there might be someone who makes your favourite dish, just the way you love it?
      </div>

      <!-- PICTURE centred, floating -->
      <div class="banner-picture">
          <%= link_to "/", class: "banner-picture-img" do %>
              <%= image_tag "ramen_200.png" %>
          <% end %>
      </div>
  </div>

  <% if @restaurants.empty? %>
  <div class='d-flex justify-content-around'>
    <%= link_to "There are no restaurants that make #{params[:dish]} nearby, want to add one?", dishes_path, class: "btn btn-link" %>
  </div>
  <% else %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="col-xs-12 col-sm-8 offset-sm-1">
          <div class='d-flex flex-row flex-wrap justify-content-around'>
            <% @restaurants.each_with_index do | restaurant, index | %>
                <a data-bs-toggle="modal" data-bs-target="#restaurantModal<%= index %>">
                <%= render 'restaurant_card', restaurant: restaurant, index: index %>
                </a>
              <%= render 'restaurant_modal', restaurant: restaurant, index: index %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
