<div class="banner-container">
  <!-- RESTAURANT -->
    <!--  HEADLINE with the two text inputs -->
    <div class="banner-head">
        <form>
            <input type="text" class="banner-dish" value="Dish">
            <input type="text" class="banner-country" value="Location">
        </form>
    </div>

    <!-- SUB-HEADLINE the text below the entry fields -->
    <div class="banner-text">
        Did you know, that in most citys, there might be someone who makes your favourit dish, just the way you love it?
    </div>

    <!-- PICTURE centred, floating -->
    <div class="banner-picture">
        <%= link_to "/", class: "banner-picture-img" do %>
            <%= image_tag "ramen_200.png" %>
        <% end %>
    </div>
</div>


<!-- EXPERIMENT
<%= simple_form_for(@restaurants) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<%= @restaurants[0].name %>
<%= @restaurants[0].address %>
-->


<%= simple_form_for :city, url: root_path, method: :get, html: { class: 'form-inline' } do |f| %>
  <% if @city.nil? %>
    <%= f.input :city, include_blank: true, required: false, input_html: {value: ""} %>
  <% else %>
    <%= f.input :city, include_blank: true, required: false, input_html: {value: @city[:city]} %>
  <% end %>
  <span class=''><%= f.submit %></span>
<% end %>

