<div>
  <div class="banner-container restaurants-banner">
    <!-- RESTAURANT -->
      <!--  HEADLINE with the two text inputs -->
      <div class="new-alignment-resto-index justify-content-center">

        <div class="hate-that-input-field">
          <input type="text" autocomplete="off" class="banner-dish sebis" id="tonys" value="<%= params[:dish].present? ? "#{params[:dish]}" : 'Dish' %>">
        </div>
        <div class="edward">
          <form action="/restaurants" autocomplete="off">
            <% if params[:location].present? %>
              <input id="dan_input" name="location" type="text" value="<%= "#{params[:location]}" %>">
            <% else %>
              <input id="dan_input" name="location" type="text" placeholder='Where are you located?' autofocus>
            <% end %>
            <%= hidden_field_tag :dish, params[:dish] %>
            <%= hidden_field_tag :dish_picture, params[:dish_picture] %>
            <button hidden type="submit">Search</button>
          </form>
        </div>
      </div>

      <!-- PICTURE centred, floating -->
      <div class="banner-picture">
          <%= link_to "/", class: "banner-picture-img" do %>
              <% if params[:dish_picture].present? %>
              <%= image_tag "#{params[:dish_picture]}" %>
              <% else %>
              <%= image_tag "ramen_200.png" %>
              <% end %>
          <% end %>
      </div>
  </div>

  <% if @restaurants.empty? %>
  <div class='d-flex justify-content-around'>
    <!-- We need to change the link to a new restaurant form once we create restaurant#new. -->
    <%= link_to "There are no restaurants that make #{params[:dish]} nearby, want to add one?", new_restaurant_path, class: "btn btn-link" %>
  </div>
  <% else %>

    <div class="index-restaurant-main">
      <% @restaurants.each_with_index do | restaurant, index | %>
        <a data-bs-toggle="modal" data-bs-target="#restaurantModal<%= index %>">
          <%= render 'restaurant_card', restaurant: restaurant, index: index %>
        </a>
          <%= render 'restaurant_modal', restaurant: restaurant, index: index %>
      <% end %>
    </div>
  <% end %>
</div>
