<h1>Add a Restaurant</h1>
<div class="new_restaurant_form">
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to "Back", restaurants_path(@restaurant)%>
